body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #2c3e50;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.nav-links a:hover {
    color: #f1c40f;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: #ecf0f1;
}

.btn {
    background-color: #e67e22;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #d35400;
}

/* PRODUK */
.produk-section {
    padding: 50px 20px;
    text-align: center;
}

.produk-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.produk-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 250px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.produk-card img {
    width: 100%;
    border-radius: 8px;
}

.produk-card button {
    background-color: #27ae60;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.produk-card button:hover {
    background-color: #1e8449;
}

/* TENTANG */
.tentang-section, .kontak-section {
    padding: 40px 20px;
    text-align: center;
    background: #f7f7f7;
}

/* FOOTER */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}
